@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Font config
*/
@font-face {
  font-family: "KumbhSans";
  font-weight: 400;
  src: url("../../../static/fonts/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: "KumbhSans";
  font-weight: 700;
  src: url("../../../static/fonts/KumbhSans-Bold.ttf");
}

/*
Main element positioning
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "KumbhSans", sans-serif;
}

header {
  background-image: url(../../../static/img/header-desktop.svg);
  background-size: 100% auto;
  background-position: center;
  border-radius: 0 0 0 5rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
  margin: auto;
  width: 1100px;
}

footer {
  margin-top: auto;
  height: 6rem;
}

input[type="text"]:focus {
  outline: none; /* Remove the default focus outline */
  border: none; /* Remove the border on focus */
}

/*
Default element styles
*/

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm;
  }
  p {
    @apply text-gray;
  }
  label {
    @apply text-darkGrey;
  }
  input[type="text"] {
    @apply border-none focus:ring-0 dark:bg-veryDarkBlue dark:text-darkGrey;
  }
}

/*
Custom classes
*/
@layer components {
  .btn-primary {
    @apply w-40 py-3 flex justify-center rounded font-semibold bg-violet text-white hover:bg-lightViolet cursor-pointer;
  }
  .btn-secondary {
    @apply w-40 py-3 flex justify-center rounded font-semibold bg-lightGrey dark:bg-darkGrey text-violet dark:text-white hover:bg-lightViolet hover:opacity-75 cursor-pointer;
  }
  .requirements,
  .role {
    @apply text-gray;
  }
}

/*
List styling for role / requirements lists
*/

.requirements ul {
  margin-top: 2rem;
}

.requirements li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.requirements li::before {
  content: ""; /* Empty content to prevent marker duplication */
  display: inline-block; /* Make the content inline-block */
  width: 8px; /* Set width of the content */
  height: 8px; /* Set height of the content */
  border-radius: 50%;
  background-color: #5963e1; /* Set background color of the content */
  margin-right: 1rem; /* Add some space between the content and the list text */
}

.role ul {
  list-style-type: decimal;
  margin-top: 2rem;
  margin-left: 2rem;
}

.role ul li::marker {
  color: #5963e1;
}

.role li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

/*
Custom checkbox
*/

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #5963e1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.5rem;
  top: 0.2rem;
  width: 5px;
  height: 0.75rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
Media queries

Tailwind breakpoints

  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
*/
@media only screen and (max-width: 1280px) {
  main {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    background-image: url(../../../static/img/header-tablet.svg);
  }
}

@media only screen and (max-width: 768px) {
  header {
    border-radius: 0 0 0 4rem;
  }
}

@media only screen and (max-width: 640px) {
  header {
    background-image: url(../../../static/img/header-mobile.svg);
  }
}

/*
Utilities for testing
*/
.test-border {
  border: 1px solid red;
}

/* @layer components {
  .test-border {
    @apply border-solid border-2 border-red-500;
  }
} */
