{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{{ request.session.theme }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Dev Jobs">
    <meta name="keywords" content="Development, Jobs">
    <title>Dev Jobs</title>
    <script type="text/javascript" src="{% static '/js/scripts.js' %}" defer></script>
    {% tailwind_css %}
  </head>
  <body class="relative bg-lightGrey dark:bg-midnight transition">
    {% include "partials/header.html" %}
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    {% include "jobs/partials/footer.html" %}
    {% if messages %}
      {% for message in messages %}
        <div class="message absolute bottom-8 left-8 h-12 p-4 flex items-center bg-success text-white rounded">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  </body>
</html>
