{% extends "base.html" %}
{% block content %}
  <div class="relative top-[-20px] lg:top-[-30px] h-24 w-[95%] lg:w-4/5 mx-auto flex bg-white dark:bg-veryDarkBlue rounded-lg">
    <div style="background-color:{{ job.company.company_color }}"
         class="h-24 w-24 flex justify-center items-center rounded-l-lg">
      <img src="/media/{{ job.company.logo }}"
           alt="{{ job.company.company_name }} logo"
           width="70"
           height="70">
    </div>
    <div class="flex grow justify-between items-center px-6">
      <div>
        <h2 class="font-semibold dark:text-white">{{ job.company.company_name }}</h2>
        <p>{{ company_domain }}</p>
      </div>
      <a class="btn-secondary"
         href="https://www.example.com/{{ job.company.company_name }}"
         target="_blank">Company Site</a>
    </div>
  </div>
  <div class="w-[95%] lg:w-4/5 mx-auto mb-8 flex flex-col bg-white dark:bg-veryDarkBlue p-6 rounded-lg">
    <div class="flex flex-col md:flex-row justify-between md:items-center mb-8 md:mb-0">
      <div class="mt-2 mb-4 md:mb-6">
        {% if delta_days == 0 %}
          <p class="mb-2">
            Today <span class="mx-1">•</span> {{ job.get_contract_display }}
          </p>
        {% else %}
          <p class="mb-2">
            {{ delta_days }}d ago <span class="mx-1">•</span> {{ job.get_contract_display }}
          </p>
        {% endif %}
        <h1 class="mb-2 font-bold dark:text-white">{{ job.position }}</h1>
        <p>{{ job.location }}</p>
      </div>
      <a class="btn-primary h-12 w-full md:w-40"
         href="https://www.example.com/{{ job.company.company_name }}"
         target="_blank">Apply Now</a>
    </div>
    <div class="flex flex-col gap-y-4">
      <p>{{ job.description | safe }}</p>
      <h2 class="font-bold dark:text-white">Requirements</h2>
      <div class="requirements mb-6">{{ job.requirements | safe }}</div>
      <h2 class="font-bold dark:text-white">What You Will Do</h2>
      <div class="role mb-6">{{ job.role | safe }}</div>
    </div>
  </div>
{% endblock content %}
