{% extends "base.html" %}
{% block content %}
  {% include "jobs/partials/searchBar.html" %}
  {% include "jobs/partials/jobsList.html" %}
  <div class="flex justify-center md:justify-end mt-4 mb-6 text-violet font-semibold">
    <span>
      {% if page_obj.has_previous %}
        <a href="?page=1"><<</a>
        <a href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}
      <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">></a>
        <a class="pl-1" href="?page={{ page_obj.paginator.num_pages }}">>></a>
      {% endif %}
    </span>
  </div>
{% endblock content %}
